.logo img{
     width: 90px;
}

nav{
   display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: crimson;
  background-color: black;
  height: 100px;

}

.container{
    /* background-color: red; */
    width: 150vh;
    font-size: 25px;
    padding: 32px;
    font-weight: bold;
    margin: auto;


    
}
.container img{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.toolbar-item button{
    
    background-color:crimson  !important;
    border: 1px white !important;
    border-radius: 10px  !important;
    padding: 5px 14px  !important;  
}

.pro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.hover1{

   display: flex;
   align-items: center;

}

       
    body {
        margin: 0;
        height: 20vh;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        /* padding: 50vh; */
        /* background-color: black; */
          }
                     
     nav ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
            }
                     
     nav ul li {
         --c: goldenrod;
         color: var(--c);
          font-size: 9px;
          border: 0.3em solid var(--c);
         border-radius: 0.5em;
          width: 12em;
         height: 3em;
         text-transform: uppercase;
         font-weight: bold;
         font-family: sans-serif;
         letter-spacing: 0.1em;
         text-align: center;
         line-height: 3em;
         position: relative;
         overflow: hidden;
         z-index: 1;
         transition: 0.5s;
         margin: 1em;
             }
                     
     nav ul li span {
         position: absolute;
          width: 25%;
         height: 100%;
         background-color: var(--c);
         transform: translateY(150%);
         border-radius: 50%;
         left: calc((var(--n) - 1) * 25%);
         transition: 0.5s;
         transition-delay: calc((var(--n) - 1) * 0.1s);
         z-index: -1;
                   }
                     
     nav ul li:hover {
         color: black;
                     }
                     
     nav ul li:hover span {
          transform: translateY(0) scale(2);
                     }
                     
     nav ul li span:nth-child(1) {
         --n: 1;
                     }
                     
     nav ul li span:nth-child(2) {
         --n: 2;
                     }
                     
     nav ul li span:nth-child(3) {
          --n: 3;
                     }
                     
     nav ul li span:nth-child(4) {
         --n: 4;
                     }
                     
                 

.hover2 btn btn:hover{


    		
        position: relative;	
        padding: 1.4rem 4.2rem;
        padding-right: 3.1rem;
        font-size: 1.4rem;
        color: var(--inv);
        letter-spacing: 1.1rem;
        text-transform: uppercase;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
        cursor: pointer;
        user-select: none;
    
        color: var(--def);
        transition-delay: .5s;
    

}







                     






@media only screen and (max-width: 1140px){

.container{
    width: 41vh;
    font-size: 12px;
    padding: 25px;
    font-weight: bold;
    margin: 19px;

}













